<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Add a Company:</h1>
<form action="/company_add" method="post" name="company_add">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Company Name:</td>
            <td>{{form.name(size = 24)}}</td>
        </tr>
        <tr>
            <td>Company Website:</td>
            <td>{{form.url(size = 24)}}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{form.location(size = 24)}}</td>
        </tr>
        <tr>
            <td>Service:</td>
            <td>{{form.service(size = 24)}}</td>
        </tr>
        <tr>
            <td>Industry:</td>
            <td>{{form.industry(size = 24)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
{% endblock %}