<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div><h1>{{company.name}}</h1>
{% if company.url %}<p><i>{{company.url}}</i></p>{% endif %}
{% if company.location %}<p><i>Location: {{company.location}}</i></p>{% endif %}
{% if company.industry %}<p><i>Industry: {{company.industry}}</i></p>{% endif %}
{% if company.service %}<p><i>Description: {{company.service}}</i></p>{% endif %}
</div>
<div><br><h3>Rate this company</h3>
<form action="/company/{{company.id}}" method="post">
    {{form.hidden_tag()}}
 <table>
     {% for value_form in form.value_ratings %}
        <tr>
            <td>{{ value_form.value_name.data }}</td>
            <td>
                {{ value_form.value_rating(size=2) }}
                {{ value_form.value_id }}
                {{ value_form.value_name }}

            </td>
        </tr>
     {% endfor %}
        <tr>
            <td></td>
            <td><input type="submit" value="Submit Ratings"></td>
        </tr>
    </table>
</form>
</div>
{% endblock %}