{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>
<!--{% for post in posts %}-->
<!--<p>-->
  <!--{{post.author.nickname}} says: <b>{{post.body}}</b>-->
<!--</p>-->
<!--{% endfor %}-->
<h4><a href="{{url_for('compatible_flocks')}}">Compatible Flocks</a></h4>

<h4><a href="{{ url_for('user', nickname = g.user.nickname) }}">Manage Your Preferences</a></h>

<h4><a href="{{url_for('colist')}}">Companies You've Rated</a></h4>

<h8><a href="{{url_for('colist')}}">Rate more companies</a></h8>

{% endblock %}