<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Rate this company</h1>
<form action="/rating" method="post" name="rating">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Work from home:</td>
            <td>{{form.WFH(size = 24)}}</td>
        </tr>
        <tr>
            <td>Paid Time Off:</td>
            <td>{{form.PTO(size = 24)}}</td>
        </tr>
        <tr>
            <td>Benefits:</td>
            <td>{{form.benefits(size = 24)}}</td>
        </tr>
        <tr>
            <td>Collaboration:</td>
            <td>{{form.collaboration(size = 24)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}