{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>
{% for post in posts %}
<p>
  {{post.author.nickname}} says: <b>{{post.body}}</b>
</p>

<form action="" method="post" name="">
    {{form.hidden_tag()}}
    <h3>Compatible Flocks</h3>
        <a href="http://localhost:5000/company-rate">company</a><br><br><br><br>

    <h3>Manage Your Preferences</h3>
        Work from Home: {{form.email}} <br>
        Work from Home: {{form.email}} <br>
        <a href="http://localhost:5000/company-rate">Edit/Add to Your Preferences</a><br><br><br><br>

    <h3>Companies You've Rated</h3>
        <a href="http://localhost:5000/company-rate">company</a><br><br>
        <a href="http://localhost:5000/company-search">Edit/Add to Your Company Ratings</a><br>
</form>
{% endfor %}
{% endblock %}